@model IEnumerable<Try3.Models.orders>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <h2>Заказы</h2>
    <div class="w3-container ">
        <table class="w3-table w3-striped w3-bordered">
            <tr class="header">
                <th>Номер заказа</th>
                <th>Номер клиента</th>
                <th>Id авто</th>
                <th>Цена</th>
                <th>номер места</th>
                <th>Номер авто</th>
            </tr>
            @foreach (Try3.Models.orders b in Model)
            {
                <tr>
                    <th>@b.id</th>
                    <th>@b.userId</th>
                    <th>@b.carId</th>
                    <th>@b.quantity</th>
                    <th>@b.placeId</th>
                    <th>@b.carNum</th>
                    
                    <th><button class="w3-button w3-green"><a href="/admin/Home/Edit/@b.id">Изменить</a></button></th>
                    <th><button class="w3-button w3-red"><a href="/admin/Home/Delete/@b.id">Удалить</a></button></th>

                </tr>
            }
        </table>
    </div>
    
